* {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    font-family: Arial;
    flex-direction: column;
    flex-wrap:wrap
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: #c7c7c7;
  }
  
  /* Change font size of headings */
 header h1 {
    font-size: 400%;
  }
  
  
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-width: 300px;
  }

  article {
    display: flex;
    flex-wrap: wrap;
  }

  nav li {
    color: #4c585e;
    font-weight: bold;
    list-style-type: none;  
  }

  div p {
    
  }

  aside {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    align-self: flex-start;
  }
  
  section {
    flex: 2;
    background-color: rgb(255, 255, 255);
    padding: 20px;
  }
  
  menu {
    flex: 2;
    background-color: rgb(255, 255, 255);
    padding: 20px;
  }
  
  footer p {
    display: flex;
    justify-content: center;
  }